<a href="https://colab.research.google.com/github/ZhenghaoXiao32/Frequent-Pattern-Mining-for-PLCB/blob/master/Copy_of_fpm_plcb_prototype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module and Dependencies

In [0]:
# Install mlxtend
!pip install mlxtend
!pip install mlxtend --upgrade --no-deps

Requirement already satisfied: mlxtend in /usr/local/lib/python3.6/dist-packages (0.14.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.22.1)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.25.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.17.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from mlxtend) (45.1.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (3.1.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->mlxtend) (0.14.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.1->mlxtend) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.17.1->mlxtend) (1.12.0)
Collecting mlxtend
  Downloading https://files.pythonhosted.org/packages/f1/1a/8ee48a7f448063428d30080ee5afd9efcf8f01c119d3d473c27bd65b0e0e/mlxtend-0.17.1-py2.py3-none-any.whl (1.3MB)
     |████████████████████████████████| 1.3MB 4.8MB/s
Installing collected packages: mlxtend
  Found existing installation: mlxtend 0.14.0
    Uninstalling mlxtend-0.14.0:
      Successfully uninstalled mlxtend-0.14.0
Successfully installed mlxtend-0.17.1

In [0]:
# Point Colaboratory to your Google Drive

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# Prototypes with Pandas and mlxtend

## Data Preparation

In [0]:
product_csv = '/content/gdrive/My Drive/PLCB/product.csv'
sales_csv = '/content/gdrive/My Drive/PLCB/sales.csv'

In [0]:

import pandas as pd

### Read the dataset

Read the transaction dataset with columns we need:

In [0]:
pdDF_txn = pd.read_csv(sales_csv, usecols=['Transaction_Id', 'Item_Key'], 
                       dtype={'Transaction_Id': 'str', 'Item_Key': 'str'})

Have a look of the transaction data:

In [0]:
pdDF_txn.head()

  Transaction_Id Item_Key
0    25627392735   206905
1    25623860995   426808
2    25662837538   437850
3    25646360028   484964
4    25598222519   168641

In [0]:
pdDF_txn.rename(columns={"Item_Key": "ITEM_KEY"}, inplace=True)

In [0]:
pdDF_txn.head()

  Transaction_Id ITEM_KEY
0    25627392735   206905
1    25623860995   426808
2    25662837538   437850
3    25646360028   484964
4    25598222519   168641

In [0]:
pdDF_txn.tail()

       Transaction_Id ITEM_KEY
999995    25579969932      622
999996    25623734448   320266
999997    25652976000   317345
999998    25650038713   218995
999999    25636212855   319926

In [0]:
txn_sizes = pdDF_txn.Transaction_Id.value_counts()

In [0]:
sum(txn_sizes > 1)

13409

In [0]:
print(" The percentage of transactions that has more than 1 item is {}%.".format(13409/1000000 * 100))

 The percentage of transactions that has more than 1 item is 1.3409%.

Have a look of the products dataset:

In [0]:
sample_products = pd.read_csv(product_csv, nrows=2)
sample_products

   ITEM_KEY      ITEM_IDNT  LEVEL1_KEY  ...  Chairmans  Alt_Liq_Vol_UOM Alt_Liq_Vol
0    511471          79069      511471  ...          2             2019           0
1    502792  3760280780012      502617  ...          2             2019           0

[2 rows x 57 columns]

#### Read product dataset use Pandas

Read the product dataset with columns we need:

In [0]:
pdDF_products = pd.read_csv(product_csv, usecols=['ITEM_KEY', 'ITEM_DESC', 'SBCLASS_DESC', 'CLASS_DESC'], 
                            dtype={'ITEM_KEY': 'str', 'ITEM_DESC': 'str', 'SBCLASS_DESC': 'str', 'CLASS_DESC': 'str'})

Check if the items are unique:

In [0]:
pdDF_products.ITEM_KEY.duplicated().sum()

0

## Data cleaning

### Concatenate subclasses and classes in product dataset

Have a look of subclasses:

In [0]:
pdDF_products.SBCLASS_DESC.value_counts()

Imported                  125022
Domestic                   63055
Italy North                19979
France Burgundy            18710
Spain                      16682
                           ...
Register Tape                  4
Salesman Sample Spirit         2
Salesman Sample                2
Rose                           2
No Subclass                    1
Name: SBCLASS_DESC, Length: 158, dtype: int64

In [0]:
pdDF_products.SBCLASS_DESC.value_counts().head(20)

Imported                         125022
Domestic                          63055
Italy North                       19979
France Burgundy                   18710
Spain                             16682
Italy Central                     16231
California Cabernet Sauvignon     15504
Australia                         12009
California Chardonnay             11891
France Rhone                       8945
California Pinot Noir              8867
Argentina                          8824
France Bordeaux                    8722
California Red Blend               7479
Italy South                        6722
Chile                              6590
Unflavored                         6204
France South Southwest             6101
France Loire                       6007
Flavored                           5785
Name: SBCLASS_DESC, dtype: int64

In [0]:
pdDF_products.CLASS_DESC.value_counts()

Red Table Wine           343293
White Table Wine          85094
Sparkling                 17835
Dessert                   12480
Whiskey                   11406
Miscellaneous             10166
Rose Table Wine            8961
Liquor or Cordials         7004
Vodka                      6517
Tequila                    4424
Rum                        3860
Brandy Cognac              3764
Box                        1888
Gin                        1452
Rose or Blush              1146
Cocktails  Mixers          1132
Ready to Drink              884
Supplies                    168
Gift Cards                   94
Bags                         17
Towels                        5
Register Tape                 4
Saleman Sample Spirit         2
Salesman Sample               2
No Class                      1
Name: CLASS_DESC, dtype: int64

To make the product descriptions more meaningful, we decided to concatenate subclasses descriptions and classes descriptions:

In [0]:
pdDF_products['ITEM'] = pdDF_products['SBCLASS_DESC'] + ' ' + pdDF_products['CLASS_DESC']

In [0]:
pdDF_products.head()

  ITEM_KEY  ...                                        ITEM
0   511471  ...  WA or OR Cabernet Sauvignon Red Table Wine
1   502792  ...              France Bordeaux Red Table Wine
2    33274  ...             Hi Proof Flavored Miscellaneous
3   295019  ...         California Zinfandel Red Table Wine
4   505118  ...              France Bordeaux Red Table Wine

[5 rows x 5 columns]

In [0]:
df_item = pdDF_products[['ITEM_KEY', 'ITEM', 'CLASS_DESC']]

In [0]:
df_item.head()

  ITEM_KEY                                        ITEM      CLASS_DESC
0   511471  WA or OR Cabernet Sauvignon Red Table Wine  Red Table Wine
1   502792              France Bordeaux Red Table Wine  Red Table Wine
2    33274             Hi Proof Flavored Miscellaneous   Miscellaneous
3   295019         California Zinfandel Red Table Wine  Red Table Wine
4   505118              France Bordeaux Red Table Wine  Red Table Wine

### Join sales data with cleaned products data

Concatenate new item descriptions with the transactions data:

In [0]:
df_txn = pdDF_txn.join(df_item.set_index('ITEM_KEY'), on='ITEM_KEY')

In [0]:
df_txn.head(20)

   Transaction_Id  ...          CLASS_DESC
0     25627392735  ...             Whiskey
1     25623860995  ...             Whiskey
2     25662837538  ...       Brandy Cognac
3     25646360028  ...           Sparkling
4     25598222519  ...             Whiskey
5     25621514290  ...           Sparkling
6     25605015027  ...       Brandy Cognac
7     25659592060  ...      Red Table Wine
8     25655803064  ...  Liquor or Cordials
9     25642727485  ...             Whiskey
10    25625814835  ...               Vodka
11    25596422571  ...      Red Table Wine
12    25669645809  ...                 Box
13    25666472134  ...    White Table Wine
14    25592166329  ...                 Rum
15    25587089035  ...       Brandy Cognac
16    25639384016  ...    White Table Wine
17    25594026572  ...      Red Table Wine
18    25594810257  ...             Whiskey
19    25654254445  ...             Whiskey

[20 rows x 4 columns]

In [0]:
df_txn.ITEM.value_counts()

Unflavored Vodka                                132419
American Whiskey                                 64497
Flavored Vodka                                   43695
California Cabernet Sauvignon Red Table Wine     29953
Canadian Whiskey                                 29207
                                                 ...
US Other Cabernet Sauvignon Red Table Wine           2
Imported Dessert                                     2
US Other Shiraz or Syrah Red Table Wine              1
US Other Red Blend Red Table Wine                    1
New York Sparkling                                   1
Name: ITEM, Length: 197, dtype: int64

In [0]:
df_txn.ITEM.value_counts().head(50)

Unflavored Vodka                                    132419
American Whiskey                                     64497
Flavored Vodka                                       43695
California Cabernet Sauvignon Red Table Wine         29953
Canadian Whiskey                                     29207
California Chardonnay White Table Wine               28601
Flavored Whiskey                                     27051
Unflavored Rum                                       22218
Beverage Miscellaneous                               21530
California Red Blend Red Table Wine                  21244
Flavored Rum                                         20125
Red Box                                              20088
Schnapps Liquor or Cordials                          19362
Brandy Brandy Cognac                                 19267
Unflavored Gin                                       18394
Spiced Rum                                           17906
California Rose or Blush                             16940
Flavored Brandy Cognac                               16555
California Pinot Noir Red Table Wine                 15124
Scotch Whiskey                                       14555
White Box                                            13867
Cognac Brandy Cognac                                 12687
Italy Pinot Grigio White Table Wine                  11795
Australia Red Table Wine                             11749
Silver or Blanco Tequila                             11570
California Pinot Grigio or Gris White Table Wine     11524
Ready to Drink Ready to Drink                        11417
Irish Whiskey                                        11367
California Sparkling                                 11077
California Other White White Table Wine              10684
Cream Liquor or Cordials                             10529
California Merlot Red Table Wine                     10021
California Sauvignon Blanc White Table Wine           8914
Italy Central Red Table Wine                          8874
Miscellaneous Liquor or Cordials                      8311
Fruit Liquor or Cordials                              7977
Australia White Table Wine                            7866
Italy Prosecco Sparkling                              7579
Argentina Red Table Wine                              7501
New Zealand White Table Wine                          7337
Mezcal or Mixto Tequila                               7240
Italy North Red Table Wine                            7062
Non Alcohol Cocktails  Mixers                         6684
Varietal Box                                          6489
Italy North White Table Wine                          6228
Chile Red Table Wine                                  5741
Spain Red Table Wine                                  5603
All 4 Packs White Table Wine                          5449
Rose Blush Box                                        5322
Port Dessert                                          5117
Name: ITEM, dtype: int64

In [0]:
df_txn.tail(20)

       Transaction_Id  ...          CLASS_DESC
999980    25632604981  ...               Vodka
999981    25636478081  ...                 Rum
999982    25606078202  ...       Rose or Blush
999983    25660860267  ...               Vodka
999984    25664726851  ...                 Rum
999985    25623536925  ...  Liquor or Cordials
999986    25665824462  ...             Whiskey
999987    25669415947  ...    White Table Wine
999988    25669871039  ...  Liquor or Cordials
999989    25617267789  ...                 Gin
999990    25629431410  ...      Red Table Wine
999991    25658361430  ...               Vodka
999992    25669764875  ...           Sparkling
999993    25588943944  ...                 Rum
999994    25627074720  ...                 Rum
999995    25579969932  ...             Whiskey
999996    25623734448  ...       Rose or Blush
999997    25652976000  ...      Red Table Wine
999998    25650038713  ...  Liquor or Cordials
999999    25636212855  ...    White Table Wine

[20 rows x 4 columns]

In [0]:
# save the df_txn 
df_txn.to_csv('df_txn.csv', index=False)
!cp df_txn.csv '/content/gdrive/My Drive/PLCB/'

In [0]:
# Create a dataframe using item_key as items
df_by_itemkey = \
df_txn[['Transaction_Id', 'ITEM_KEY']].groupby('Transaction_Id'\
,as_index=False).agg(lambda x: x.tolist())

In [0]:
df_by_itemkey.head()

          Transaction_Id          ITEM_KEY
0  100000000000000128121          [319409]
1  100000000000000128122  [318665, 316925]
2  100000000000000128133          [321130]
3  100000000000000128134  [142006, 221835]
4  100000000000000128137          [450950]

In [0]:
# Create a dataframe using item as items
df_by_item = df_txn[['Transaction_Id', 'ITEM']]\
.groupby('Transaction_Id', as_index=False).agg(lambda x: x.tolist())

In [0]:
df_by_item.head()

          Transaction_Id                                               ITEM
0  100000000000000128121                                        [White Box]
1  100000000000000128122  [California Red Blend Red Table Wine, Californ...
2  100000000000000128133                          [New York Red Table Wine]
3  100000000000000128134  [Beverage Miscellaneous, California Cabernet S...
4  100000000000000128137                         [California Rose or Blush]

In [0]:
# Create a dataframe using class_desc as items
df_by_class = df_txn[['Transaction_Id', 'CLASS_DESC']]\
.groupby('Transaction_Id', as_index=False).agg(lambda x: x.tolist())

In [0]:
df_by_class.head()

          Transaction_Id                        CLASS_DESC
0  100000000000000128121                             [Box]
1  100000000000000128122  [Red Table Wine, Red Table Wine]
2  100000000000000128133                  [Red Table Wine]
3  100000000000000128134   [Miscellaneous, Red Table Wine]
4  100000000000000128137                   [Rose or Blush]

## Frequent Pattern Mining With mlxtend

try with mlxtend:

In [0]:
from mlxtend.preprocessing import TransactionEncoder

### Use ITEM_KEY as items

In [0]:
# using item_key as items
dataset = df_by_itemkey.ITEM_KEY
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df_te = pd.DataFrame(te_ary, columns=te.columns_)
df_te

        100280   1004   1006   1007  100732  ...  99255    997  99771  99772    999
0        False  False  False  False   False  ...  False  False  False  False  False
1        False  False  False  False   False  ...  False  False  False  False  False
2        False  False  False  False   False  ...  False  False  False  False  False
3        False  False  False  False   False  ...  False  False  False  False  False
4        False  False  False  False   False  ...  False  False  False  False  False
...        ...    ...    ...    ...     ...  ...    ...    ...    ...    ...    ...
985645   False  False  False  False   False  ...  False  False  False  False  False
985646   False  False  False  False   False  ...  False  False  False  False  False
985647   False  False  False  False   False  ...  False  False  False  False  False
985648   False  False  False  False   False  ...  False  False  False  False  False
985649   False  False  False  False   False  ...  False  False  False  False  False

[985650 rows x 13781 columns]

In [0]:
from mlxtend.frequent_patterns import fpgrowth, association_rules

In [0]:
frequent_itemsets = fpgrowth(df_te, min_support=0.00001, use_colnames=True)

In [0]:
frequent_itemsets

       support     itemsets
0     0.000158     (319409)
1     0.001912     (318665)
2     0.000234     (316925)
3     0.000217     (321130)
4     0.000578     (221835)
...        ...          ...
5067  0.000016     (511784)
5068  0.000014     (513157)
5069  0.000022     (513158)
5070  0.000018     (513159)
5071  0.000011  (842, 3016)

[5072 rows x 2 columns]

In [0]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.001)
rules

  antecedents consequents  antecedent support  ...      lift  leverage  conviction
0       (842)      (3016)            0.005023  ...  0.598658 -0.000007    0.998507
1      (3016)       (842)            0.003711  ...  0.598658 -0.000007    0.997978

[2 rows x 9 columns]

In [0]:
# check what are item_key 842 and 3016
df_txn.loc[df_txn['ITEM_KEY'] == "842"]

       Transaction_Id ITEM_KEY              ITEM CLASS_DESC
170       25652086727      842  American Whiskey    Whiskey
265       25593936864      842  American Whiskey    Whiskey
302       25642994251      842  American Whiskey    Whiskey
659       25603451855      842  American Whiskey    Whiskey
696       25652859434      842  American Whiskey    Whiskey
...               ...      ...               ...        ...
999291    25590848890      842  American Whiskey    Whiskey
999340    25642681837      842  American Whiskey    Whiskey
999532    25671571392      842  American Whiskey    Whiskey
999891    25659018195      842  American Whiskey    Whiskey
999906    25648869830      842  American Whiskey    Whiskey

[4951 rows x 4 columns]

In [0]:
df_txn.loc[df_txn['ITEM_KEY'] == "3016"]

       Transaction_Id ITEM_KEY           ITEM CLASS_DESC
664       25645588709     3016  Irish Whiskey    Whiskey
842       25661799944     3016  Irish Whiskey    Whiskey
871       25588754366     3016  Irish Whiskey    Whiskey
1160      25651624492     3016  Irish Whiskey    Whiskey
2349      25590506573     3016  Irish Whiskey    Whiskey
...               ...      ...            ...        ...
998403    25613988537     3016  Irish Whiskey    Whiskey
998601    25611932782     3016  Irish Whiskey    Whiskey
998994    25587760651     3016  Irish Whiskey    Whiskey
999438    25658989808     3016  Irish Whiskey    Whiskey
999485    25616131444     3016  Irish Whiskey    Whiskey

[3658 rows x 4 columns]

In [0]:
rules.confidence.max()

0.0030071077091306723

### USE ITEM as items

In [0]:
dataset = df_by_item.ITEM
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df_te = pd.DataFrame(te_ary, columns=te.columns_)
df_te

        Alcohol Cocktails  Mixers  ...  Wine Multipack Miscellaneous
0                           False  ...                         False
1                           False  ...                         False
2                           False  ...                         False
3                           False  ...                         False
4                           False  ...                         False
...                           ...  ...                           ...
985645                      False  ...                         False
985646                      False  ...                         False
985647                      False  ...                         False
985648                      False  ...                         False
985649                      False  ...                         False

[985650 rows x 197 columns]

In [0]:
frequent_itemsets = fpgrowth(df_te, min_support=0.00001, use_colnames=True)
frequent_itemsets

      support                                        itemsets
0    0.014061                                     (White Box)
1    0.021523           (California Red Blend Red Table Wine)
2    0.010163              (California Merlot Red Table Wine)
3    0.003247                       (New York Red Table Wine)
4    0.030307  (California Cabernet Sauvignon Red Table Wine)
..        ...                                             ...
498  0.000020                 (Unflavored Gin, Irish Whiskey)
499  0.000015                     (Irish Whiskey, Spiced Rum)
500  0.000029   (Unflavored Vodka, Coffee Liquor or Cordials)
501  0.000013   (Coffee Liquor or Cordials, American Whiskey)
502  0.000012     (Coffee Liquor or Cordials, Flavored Vodka)

[503 rows x 2 columns]

In [0]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.005)
rules

                               antecedents  ... conviction
0   (WA or OR Chardonnay White Table Wine)  ...   0.978696
1                         (Unflavored Gin)  ...   0.871305
2                 (Nut Liquor or Cordials)  ...   0.871192
3                 (Nut Liquor or Cordials)  ...   0.940181
4       (Miscellaneous Liquor or Cordials)  ...   0.940581
5       (Miscellaneous Liquor or Cordials)  ...   0.871473
6                       (Reposado Tequila)  ...   0.939920
7                       (Reposado Tequila)  ...   0.871113
8               (Fruit Liquor or Cordials)  ...   0.873701
9               (Fruit Liquor or Cordials)  ...   0.940475
10           (Schnapps Liquor or Cordials)  ...   0.939407
11               (Mezcal or Mixto Tequila)  ...   0.870617
12                         (Irish Whiskey)  ...   0.939905
13             (Coffee Liquor or Cordials)  ...   0.873913

[14 rows x 9 columns]

### Use CLASS_DESC as items

In [0]:
dataset = df_by_class.CLASS_DESC
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df_te = pd.DataFrame(te_ary, columns=te.columns_)
df_te

          Box  Brandy Cognac  ...  Whiskey  White Table Wine
0        True          False  ...    False             False
1       False          False  ...    False             False
2       False          False  ...    False             False
3       False          False  ...    False             False
4       False          False  ...    False             False
...       ...            ...  ...      ...               ...
985645   True          False  ...    False             False
985646  False          False  ...    False              True
985647  False          False  ...    False             False
985648   True          False  ...    False             False
985649  False          False  ...    False             False

[985650 rows x 18 columns]

In [0]:
frequent_itemsets = fpgrowth(df_te, min_support=0.00001, use_colnames=True)
frequent_itemsets

      support                                 itemsets
0    0.047745                                    (Box)
1    0.158779                         (Red Table Wine)
2    0.050793                          (Miscellaneous)
3    0.026440                          (Rose or Blush)
4    0.030447                              (Sparkling)
..        ...                                      ...
123  0.000021                 (Cocktails  Mixers, Rum)
124  0.000038               (Cocktails  Mixers, Vodka)
125  0.000030             (Cocktails  Mixers, Whiskey)
126  0.000020             (Cocktails  Mixers, Tequila)
127  0.000021  (Cocktails  Mixers, Liquor or Cordials)

[128 rows x 2 columns]

In [0]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.05)
rules

                               antecedents  ... conviction
0                    (Red Table Wine, Box)  ...   0.996230
1                  (Box, White Table Wine)  ...   0.975173
2          (Red Table Wine, Miscellaneous)  ...   0.968114
3        (Miscellaneous, White Table Wine)  ...   0.959981
4          (Red Table Wine, Rose or Blush)  ...   0.969563
5        (Rose or Blush, White Table Wine)  ...   0.921113
6              (Red Table Wine, Sparkling)  ...   0.995602
7            (White Table Wine, Sparkling)  ...   0.959854
8   (Liquor or Cordials, White Table Wine)  ...   0.918854
9                       (Whiskey, Tequila)  ...   0.866658
10                        (Tequila, Vodka)  ...   0.900018
11                      (Whiskey, Tequila)  ...   0.999065
12           (Tequila, Liquor or Cordials)  ...   0.930412

[13 rows x 9 columns]